extends ./index

append head
    title Verify accounts
    style.
        .otp {
            font-size: 35px;
            font-weight: bold;
            background-color: mediumseagreen;
            color: white;
            padding: 16px;
            text-align: center;
        }
        .sub {
            color: lightgrey;
        }

append body
    h2 Greeting #{email}
    p Your account was successfully created
    p Feel free to contact the administrator if you have any technical issues.
    p Here the OTP:
    p.otp #{otp}
    p.sub (The otp will be expired after 10 minutes)